@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Classified Offering</h1>
    <p class="lead"><strong>Classified Offering</strong> is an application to organise Secret Santas with your friends!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is Secret Santa?</h2>
        <p>
            Say you have a group of friends. You want to offer each other presents, but you want it to be a bit more special. Play Secret Santa!
            Each person is secretly assigned a Secret Santa that has to buy a present for that person. And on the big special day, everyone offers
            his present to their assigned person, which is more fun because everyone discovers who was secretly buying them a present!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start by registering on the website by clicking on "Register".
        </p>
    </div>
</div>